<!-- BEGIN footer  -->
<footer class="footer" id="footer">
	<div class="footer__txt">
		<button  type="button" class="footer__btn btn-gift">
			<i class="icon icon-gift"></i>
			<span>Новогоднее предложение!</span>
		</button>
		<ul class="footer__list">
			<li class="footer__title"><h4>Контакты отдела продаж</h4></li>
			<li>г. Одесса, ул. Ген. Бочарова, 50</li>
			<li>Телефон: <a class="footer__link" href="tel:0487015858">(048) 701-58-58</a></li>
			<li>График 10.00-19.00 без выходных</li>
		</ul>
		<ul class="footer__list">
			<li class="footer__title"><h4>Документация</h4></li>
			<li><a href="#" class="footer__link">Название документа.doc</a></li>
			<li><a href="#" class="footer__link">Название документа_2.doc</a></li>
		</ul>
	</div>
	<div class="footer__form">
		<form>
			<div class="form">
				<p class="form__title">У вас есть вопрос?</p>
					<input type="text" placeholder="Ваше имя" class="form__name">
					<input type="email" placeholder="E-mail" class="form__mail">
					<textarea placeholder="Сообщение" class="form__msg"></textarea>
					<button  type="submit" class="form__btn btn-send">
						<i class="icon icon-send"></i>Отправить сообщение
					</button>
			</div>
		</form>
	</div>
</footer>
<!-- end footer -->
