<!-- BEGIN gallery -->
<div class="gallery" id="gallery">
	<h3 class="gallery__title">Фотографии микрорайона</h3>
	<div class="gallery__wrap js-gallery">
		<a href="img/gallery/img1.png" class="gallery__item js-photo" rel="group" style="background-image: url(img/gallery/img1.png)"></a>
		<a href="img/gallery/img2.png" class="gallery__item js-photo" rel="group" style="background-image: url(img/gallery/img2.png)"></a>
		<a href="img/gallery/img3.png" class="gallery__item js-photo" rel="group" style="background-image: url(img/gallery/img3.png)"></a>
		<a href="img/gallery/img4.png" class="gallery__item js-photo" rel="group" style="background-image: url(img/gallery/img4.png)"></a>
		<a href="img/gallery/img5.png" class="gallery__item js-photo" rel="group" style="background-image: url(img/gallery/img5.png)"></a>
		<a href="img/gallery/img6.png" class="gallery__item js-photo" rel="group" style="background-image: url(img/gallery/img6.png)"></a>
	</div>
</div>

<!-- end gallery -->
