<!-- BEGIN header -->
<header class="header js-header">
	<a href="#" class="btn-menu js-btn-menu">&#9776;</a>
	<div class="menu js-menu">
		<ul class="menu__list">
			<li class="menu__cell"><a href="#advantages" class="menu__link js-link" id="link1">Преимущества</a></li>
			<li class="menu__cell"><a href="#gallery" class="menu__link js-link" id="link2">Галерея</a></li>
			<li class="menu__cell"><a href="#plan" class="menu__link js-link" id="link3">Планировка</a></li>
			<li class="menu__cell">
				<div class="tel">
					<a href="tel:+380553331123" class="tel__namb">+38 (055) 333-11-23</a>
					<button type="button" class="tel__call js-popup-call">
						<i class="icon icon-call"></i>Обратный звонок
					</button>
				</div>
			</li>
			<li class="menu__cell"><a href="#map" class="menu__link js-link" id="link4">Расположение</a></li>
			<li class="menu__cell"><a href="#about" class="menu__link js-link" id="link5">О застройщике</a></li>
			<li class="menu__cell"><a href="#footer" class="menu__link js-link" id="link6">Контакты</a></li>
		</ul>
	</div>
</header>
<!-- end header -->
