<!-- BEGIN info -->
<section class="info">
	<div class="info__wrap">
		<h2 class="info__title">Микрорайон «Якоря»</h2>
		<div class="info__col">
			<span class="info__main animate-info">Микрорайон «Якоря» - создан для комфортной, спокойной жизни в «тихом» районе большого города, на пересечении улиц Генерала Бочарова и Академика Сахарова. Состоит из двух 5-ти этажных 3-х секционных домов, с просторной придомовой территорией.</span>
			<div class="info__queue">
				<div class="info__numb"><i class="icon icon_first "></i></div>
				<span class="info__queue-txt animate-info">Первая очередь строительства уже подходит к концу и будет сдана в 1 квартале 2016 г.</span>
			</div>
			<blockquote class="info__note animate-info">Приобретая жилье у нас, Вы получаете не просто квадратные метры, <b>а ощущение комфорта, спокойствия и уюта!</b></blockquote>
		</div>
		<div class="info__col">
			<ul class="facts">
				<li class="facts__item animate-info">
					<div class="facts__img"><i class="icon icon_sun"></i></div>
					<div class="facts__txt">
						<h5 class="facts__title">Уют</h5>
						<p>Большое количество зелени, интересная детская площадка, оборудованные места для отдыха, тихие дворики соседних домов создают атмосферу покоя, располагают к отдыху. При этом микрорайон «Якоря» находится в непосредственной близости от побережья Черного моря.</p>
					</div>
				</li>
				<li class="facts__item animate-info">
					<div class="facts__img"><i class="icon icon_comfort"></i></div>
					<div class="facts__txt">
						<h5 class="facts__title">Комфорт</h5>
						<p>В данном микрорайоне есть все, что необходимо для удобной, беззаботной жизни: торговые и развлекательные центры, кинотеатры, рестораны, центр детского досуга, спортивные учреждения, фитнес-студии, школы, детские сады, офисы крупных предприятий. Для тех, у кого есть дети спроектирован детский сад на 100 мест и школа на 1000 учащихся.</p>
					</div>
				</li>
				<li class="facts__item animate-info">
					<div class="facts__img"><i class="icon icon_safety"></i></div>
					<div class="facts__txt">
						<h5 class="facts__title">Безопасность</h5>
						<ul class="facts__list" type="disc">
							<li>охраняемая, закрытая придомовая территория;</li>
							<li>видеонаблюдение в парадных.</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- BEGIN circs -->
	<div class="circs">
		<h3 class="circs__title">Удобные условия покупки</h3>
		<ul class="circs__list">
			<li class="circs__cell">
				<span class="circs__step">1</span>
				<p class="circs__txt">
					<b>10% первый взнос +</b><br>
					<span>12 месяцев рассрочка</span>
				</p>
			</li>
			<li class="circs__cell">
				<span class="circs__step">2</span>
				<p class="circs__txt">
					<b>50% первый взнос +</b><br>
					<span>50% после сдачи дома</span>
				</p>
			</li>
			<li class="circs__cell">
				<span class="circs__step">3</span>
				<p class="circs__txt">
					<b>100% оплата + </b><br>
					<span>фиксированный курс</span>
				</p>
			</li>
		</ul>
	</div>
	<!-- end circs -->
</section>
<!-- end info -->
