<!-- BEGIN pluses -->
<div class="pluses" id="advantages">
	<div class="pluses__wrap">
		<h3 class="pluses__title">Преимущества</h3>
		<div class="pluses__wrap">
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/lift.png" alt="" /></div>
				<p class="pluses__txt">5-ти этажные дома с лифтом</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/door.png" alt="" /></div>
				<p class="pluses__txt">Всего 4 квартиры на площадке</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/platen.png" alt="" /></div>
				<p class="pluses__txt">Квартиры сдаются под чистовую отделку</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/wood.png" alt="" /></div>
				<p class="pluses__txt">Зеленый микрорайон</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/umbel.png" alt="" /></div>
				<p class="pluses__txt">10 мин езды до побережья</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/car.png" alt="" /></div>
				<p class="pluses__txt">Гостевая, автостоянка и паркинг</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/cam.png" alt="" /></div>
				<p class="pluses__txt">Ограждение, охрана, видеонаблюдение</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/counter.png" alt="" /></div>
				<p class="pluses__txt">Автономная газовая котельная, счетчики и водомеры</p>
			</div>
			<div class="pluses__item">
				<div class="pluses__img"><img src="img/pluses/water.png" alt="" /></div>
				<p class="pluses__txt">Резервуары запаса воды</p>
			</div>
		</div>
	</div>
</div>
<!-- end pluses -->
