<div class="js-content-popups popups-content">
	<div class="js-call">
		<form>
			<div class="form">
				<p class="form__title">Заказать обратный звонок</p>
					<input type="text" placeholder="Ваше имя" class="form__name">
					<input type="tel" placeholder="Телефон" class="form__mail">
					<button  type="submit" class="form__btn btn-send">
						<i class="icon icon-send"></i>Отправить сообщение
					</button>
			</div>
		</form>
	</div>
	<div class="js-offer offer">
		<div class="offer__type">
			<div class="offer__img">
				<i class="icon icon-gift"></i>
			</div>
			<div class="offer__txt">
				<h6 class="offer__title">Новогоднее предложение!</h6>
				<p class="offer__sub-title">Квартиры от <b>18 100 у.е.</b></p>
			</div>
		</div>
		<form>
			<div class="form">
				<p class="form__title">Узнать условия</p>
					<input type="text" placeholder="Ваше имя" class="form__name">
					<input type="text" placeholder="Телефон или email" class="form__mail">
					<button  type="button" class="form__btn btn-send">
						<i class="icon icon-send"></i>Отправить сообщение
					</button>
			</div>
		</form>
	</div>
	<div class="js-done callback">
		<div class="callback__icon"><i class="icon icon-done"></i></div>
		<div class="callback__top-txt">Спасибо за отправленную заявку</div>
		<div class="callback__bttm-txt">Наш менеджер свяжется с Вами в ближайшее время</div>
	</div>
	<div class="js-cam cam">
		<img class="cam__img" src="http://31.43.111.146/video2.mjpg">
	</div>
</div>
