<!-- BEGIN plan  -->
<section class="plan" id="plan">
	<div class="plan__wrap">
		<div class="plan__col">
				<h3 class="plan__title">План этажа</h3>
			<div class="plan__img">
				<map name="tabs-map">
					<area class="js-tab-link" data-tab="1" shape="poly" coords="0,34.5 162,34.5 162,149.5 141.5,149.5 141.5,190.5 89.5,190.5 89.5,304 0,304" href="#1" alt="Планировка1">
					<area class="js-tab-link" data-tab="2" shape="poly" coords="237,199.5 237,338.5 90,338.5 90,193.5 163.5,193.5 194,193.5 194,200.5 " href="#2" alt="Планировка2">
					<area class="js-tab-link" data-tab="3" shape="poly" coords="382.5,193.5 382.5,338.5 239.5,338.5 239.5,197.5 281,197.5 281.5,193.5" href="#3" alt="Планировка3">
					<area class="js-tab-link" data-tab="4" shape="poly" coords="313,34.5 471,34.5 471,306.5 385,306.5 385.5,193.5 332,193.5 332,146 313,147" href="#4" alt="Планировка4">
				</map>
				<img usemap="tabs-map" src="img/plans/plan-floor.png" alt="plan">
			</div>
			<button type="button" class="plan__btn js-popup-cam">
				<i class="icon icon-cam"></i>смотреть веб камеру
			</button>
		</div>
		<div class="plan__col">
			<div class="tabs">
				<div class="tabs__btns">
					<button class="tabs__tab js-tab-btn" type="button" name="button" data-tab="1" style="background-color: #fff343">1</button>
					<button class="tabs__tab js-tab-btn" type="button" name="button" data-tab="2" style="background-color: #a9d5dd">2</button>
					<button class="tabs__tab js-tab-btn" type="button" name="button" data-tab="3" style="background-color: #f3ca9c">3</button>
					<button class="tabs__tab js-tab-btn" type="button" name="button" data-tab="4" style="background-color: #b4d38b">4</button>
				</div>
				<div class="tabs__content">
					<div class="tabs__item js-tab-content" data-tab="1" style="background-color: #fff343">
						<div class="tabs__txt">
							<h6 class="tabs__title">Планировка 1</h6>
							<span class="tabs__type">двухкомнатная<span class="tabs__size">58.1</span></span>
						</div>
						<div class="tabs__img">
							<img src="img/plans/plan1.png" alt="Планировка" />
						</div>
					</div>
					<div class="tabs__item js-tab-content" data-tab="2" style="background-color: #a9d5dd">
						<div class="tabs__txt">
							<h6 class="tabs__title">Планировка 2</h6>
							<span class="tabs__type">Однокомнатная<span class="tabs__size">36.9</span></span>
						</div>
						<div class="tabs__img">
							<img src="img/plans/plan1.png" alt="Планировка" />
						</div>
					</div>
					<div class="tabs__item js-tab-content" data-tab="3" style="background-color: #f3ca9c">
						<div class="tabs__txt">
							<h6 class="tabs__title">Планировка 3</h6>
							<span class="tabs__type">Однокомнатная<span class="tabs__size">36.9</span></span>
						</div>
						<div class="tabs__img">
							<img src="img/plans/plan1.png" alt="Планировка" />
						</div>
					</div>
					<div class="tabs__item js-tab-content" data-tab="4" style="background-color: #b4d38b">
						<div class="tabs__txt">
							<h6 class="tabs__title">Планировка 4</h6>
							<span class="tabs__type">двухкомнатная<span class="tabs__size">58.1</span></span>
						</div>
						<div class="tabs__img">
							<img src="img/plans/plan1.png" alt="Планировка" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end plan -->
